body, html {
    background-image: url(/img/hsv-stadium.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 76px;
    background-color: #0055aa;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
}

.container {
    font-family: sans-serif;
    padding: 0;
    height: 700px;
    justify-content: space-between;
    width: 100%;
}
.container-navbar{
    height: 76px;
}
.logo {
    width: 380px;
    height: 100%;
    margin-left: 10px;
    align-items: center;
}

.logo img {
    height: 60px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-brand {
    padding: 0;
}

.logo h1 {
    height: 100%;
    float: right;
    margin: 0;
    font-size: 36px;
    line-height: 76px;
}

.logo span {
    color: white;
}

#navbar-list {
    color: white;
    width: 300px;
    height: 100%;
}

.collapse.navbar-collapse {
    max-width: 300px;
}

#navbar-list ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

#navbar-list ul li {
    height: 100%;
    float: left;
    line-height: 76px;
    margin: 0 0 0 15px;
    font-size: 16px;
}

#menu {
    background-color: white;
    height: 60px;
}

.menu-container {
    font-family: sans-serif;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#menu ul {
    float: left;
    list-style-type: none;
    height: 100%;
    line-height: 60px;
    padding: 0;
    margin: 0 10px 0 10px;
}

.main-content {
    padding-top: 20px;
    padding-bottom: 75px;
    height: 2206px;
}

@media(min-width: 1437px) {
    .divsizer {
        max-width: 1407px;
        margin: 0 auto;
    }
}

@media (min-width:1600px) {
    .container {
        width: 933px;
    }
}

@media (min-width:963px) {
    .container {
        width: 933px;
    }
}

.divwrapper {
    height: auto !important;
    /* background-color: gray; */
}

@media(min-width: 1600px) {
    .grid {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.slider {
    height: 500px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}

.separator {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
}

.articles {
    height: 700px;
    background-color: white;
    margin-bottom: 20px;
}

.article {
    height: 295px;
    width: 100px;
    background-color: brown;
    display: inline-block;
    margin: 20px 45px 45px 30px;
}

.nextmatch {
    height: 200px;
    background-color: white;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
    width: 533px;
}

.teamstats {
    height: 400px;
    width: 380px;
    display: inline-block;
    background-color: white;
    margin: 0;
}

.leaguetable {
    height: 180px;
    width: 533px;
    clear: both;
    background-color: white;
}

.leaguetable_button {
    height: 40px;
    width: 80px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px !important;
    margin-right: 10px;
}

.leaguetable_button h6 {
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 14px;
}

.grid-item {
    border: 1px solid #333;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.trophies {
    background-color: white;
    height: 200px;
}

footer {
    padding: 25px 0;
    height: 500px;
    background-color: yellow;
}

.clock {
    height: 150px;
    background-color: black;
    margin-bottom: 20px;
}

#desktopFooter {
    height: 280px;
    background-color: black;
}

footer .row {
    padding-bottom: 15px;
    padding-top: 15px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    line-height: 90px;
}

@media (min-width: 963px) {
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
}

@media (min-width: 963px) {
    .col-md-2 {
        width: 16.66666667%;
    }
}

@media (min-width: 963px) {
    .col-md-offset-3 {
        margin-left: 25%;
    }
}

@media (min-width: 963px) {
    .col-md-3 {
        width: 25%;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tradition {
    float: left;
    font-size: 25px;
    line-height: 1;
    color: #005aaa;
    margin: 0 0 0;
    text-align: left;
    text-transform: uppercase;
    margin-top: 10px;
}

.col-xs-12 {
    width: 100%;
}

.line {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hsvbox-header {
    font-size: 20px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1;
}

.hsvbox-text {
    font-size: 15px;
    color: #555555;
    text-align: left;
    margin: 0 0 5px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 21px;
}

.col-xs-2 {
    width: 16.66666667%;
}

hr {
    border-top: 1px solid #bbbbbb;
    margin-top: 15px;
    margin-bottom: 15px;
}