body, html {
    background-image: url(/img/hsv-stadium.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 76px;
    background-color: #0055aa;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
}

.container {
    font-family: sans-serif;
    padding: 0;
    height: 700px;
    justify-content: space-between;
    width: 100%;
}

.container-navbar {
    height: 76px;
}

.logo {
    width: 380px;
    height: 100%;
    margin-left: 10px;
    align-items: center;
}

.logo img {
    height: 60px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-brand {
    padding: 0;
}

.logo h1 {
    height: 100%;
    float: right;
    margin: 0;
    font-size: 36px;
    line-height: 76px;
}

.logo span {
    color: white;
}

#navbar-list {
    color: white;
    width: 300px;
    height: 100%;
}

.collapse.navbar-collapse {
    max-width: 300px;
}

#navbar-list ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0 8px 0 8px;
}

#navbar-list ul li {
    height: 100%;
    float: left;
    line-height: 76px;
    margin: 0 0 0 15px;
    font-size: 16px;
    
}
.row ul>li:hover{
    text-decoration: underline;
    color: #0055aa;
    font-weight: 700;
    cursor: pointer;
}

#menu {
    background-color: white;
    height: 60px;
}

.menu-container {
    font-family: sans-serif;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    justify-content: center;
}

#menu ul {
    float: left;
    list-style-type: none;
    height: 100%;
    line-height: 60px;
    padding: 0;
    margin: 0 10px 0 10px;
    padding: 0 30px 0 30px;
    font-family: 'Fira Mono', monospace;
}

.main-content {
    padding-top: 20px;
    padding-bottom: 75px;
}

@media(min-width: 1437px) {
    .divsizer {
        max-width: 1407px;
    }
}

@media (min-width:1600px) {
    .container {
        width: 933px;
    }
}

@media (min-width:963px) {
    .container {
        width: 933px;
    }
}

.divwrapper {
    width: 100% !important;
    text-align: center;
    min-height: 100%;
    height: 100%;
}

* {
    margin: 0px;
}

@media(min-width: 1600px) {
    .grid {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.slider {
    height: 500px;
    width: 100%;
    background-color: white;
    /* padding: 20px 20px 20px 20px; */
    margin-bottom: 20px;
}

.separator {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 20px;
}

.articles {
    background-color: white;
    margin-bottom: 20px;
}

.article {
    background-color: #0055aa;
    margin: 10px 5px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.nextmatch {
    height: 200px;
    background-color: white;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
    width: 533px;
}

.teamstats {
    height: 400px;
    width: 380px;
    display: inline-block;
    background-color: white;
    margin: 0;
}

.leaguetable {
    height: 180px;
    width: 533px;
    clear: both;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.leaguetable_button {
    height: 40px;
    width: 80px;
    background-color: #005aaa;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px !important;
    margin-right: 20px;
}

.leaguetable_button:hover{
    background-color: #035fbb;
}

.leaguetable_button h6 {
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 14px;
}

.grid-item {
    border: 1px solid #333;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.trophies {
    background-color: white;
    height: 198px;
}

footer {
    padding: 25px 0;
    height: 500px;
    background-color: yellow;
}

.clock {
    height: 150px;
    background-color: black;
    margin-bottom: 20px;
}

#desktopFooter {
    height: 280px;
    background-color: black;
}

footer .row {
    padding-bottom: 15px;
    padding-top: 15px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    line-height: 90px;
}

@media (min-width: 963px) {
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
}

@media (min-width: 963px) {
    .col-md-2 {
        width: 16.66666667%;
    }
}

@media (min-width: 963px) {
    .col-md-offset-3 {
        margin-left: 25%;
    }
}

@media (min-width: 963px) {
    .col-md-3 {
        width: 25%;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tradition {
    float: left;
    font-size: 25px;
    line-height: 1;
    color: #005aaa;
    margin: 0 0 0;
    text-align: left;
    text-transform: uppercase;
    margin-top: 10px;
}

.col-xs-12 {
    width: 100%;
}

.line {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hsvbox-header {
    font-size: 20px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1;
}

.hsvbox-text {
    font-size: 15px;
    color: #555555;
    text-align: ;
    margin: 0 0 5px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 21px;
}

.col-xs-2 {
    width: 16.66666667%;
}

.insideslider {
    padding: 20px 20px 20px 20px;
}

.slideshow_container {
    height: 100%;
    position: relative;
}

.inside_article {
    background-color: white;
    margin: 0;
    height: 100%;
}
.article-img{
    height: 150px;
}
.article-img img{
    height: 100%;
    width: 100%;
}

.article-header{
    height: 30px;
    margin-top: 5px;
}

.article-header p{
    justify-content: center;
}

.inside_article:hover {
    background-color: #0055aa;
}

.slide {
    height: 100%;
    display: none;
}

.slide img {
    height: 100%;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border-radius: 3px 0 0 3px;
    color: white;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    height: 100%;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #0055aa;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.fade:not(.show) {
    opacity: 1;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

#counter{
    height: 80px;
    
}