body, html {
    background-image: url(../img/hsv-stadium.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 76px;
    background-color: #0055aa;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    position: -webkit-sticky;
}

.nav {
    position: -webkit-sticky;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.container {
    font-family: sans-serif;
    padding: 0;
    height: 700px;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 380px;
    height: 100%;
    margin-left: 10px;
    align-items: center;
}

.logo img {
    height: 60px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.logo h1 {
    height: 100%;
    float: right;
    margin: 0;
    font-size: 36px;
    line-height: 76px;
}

#navbar-list {
    color: white;
    width: 300px;
    height: 100%;
}

#navbar-list ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0 8px 0 8px;
    height: 100%;
}

#navbar-list ul li {
    height: 100%;
    float: left;
    line-height: 76px;
    margin: 0 0 0 15px;
    font-size: 16px;
}

.row ul>li:hover {
    font-weight: 700;
    cursor: pointer;
}

#menu {
    background-color: white;
    height: 60px;
}

.menu-container {
    font-family: sans-serif;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    justify-content: center;
}

#menu ul {
    float: left;
    list-style-type: none;
    height: 100%;
    line-height: 60px;
    padding: 0;
    margin: 0 10px 0 10px;
    padding: 0 20px 0 20px;
    font-family: 'Fira Mono', monospace;
}

#menu ul li:hover {
    animation: textColor 10s ease infinite;
}

#menu ul li:after {
    position: absolute;
    content: "";
    top: 5vw;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColor {
    0% {
        color: #0055aa;
    }
    25% {
        color: #7b04eb;
    }
    50% {
        color: #f30202;
    }
    75% {
        color: #06a0cf;
    }
    100% {
        color: #0055aa;
    }
}

/*------------header-----------------------------*/

/*------------main-----------------------------*/

.main-content {
    padding-top: 20px;
    padding-bottom: 75px;
}

.divwrapper {
    width: 100% !important;
    text-align: center;
    min-height: 100%;
    height: 100%;
}

/*------------slider-----------------------------*/

.slider {
    height: 500px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}

.insideslider {
    padding: 20px 20px 20px 20px;
}

.slideshow_container {
    height: 100%;
    position: relative;
}

.slide {
    height: 100%;
    display: none;
}

.slide img {
    height: 100%;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border-radius: 3px 0 0 3px;
    color: white;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    height: 100%;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #0055aa;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.fade:not(.show) {
    opacity: 1;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*------------slider-----------------------------*/

.separator {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 20px;
}

/*------------artciles-----------------------------*/

.articles {
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
}

.article {
    background-color: #0055aa;
    margin: 10px 5px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.inside_article {
    background-color: white;
    margin: 0;
    height: 100%;
}

.article-img {
    height: 150px;
}

.article-img img {
    height: 100%;
    width: 100%;
}

.article-header {
    height: 30px;
    margin-top: 5px;
}

.article-header p {
    justify-content: center;
}

.inside_article:hover {
    background-color: #0055aa;
}

/*------------articles-----------------------------*/

.nextmatch {
    height: 200px;
    background-color: white;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
    width: 533px;
}

.teamstats {
    height: 400px;
    width: 380px;
    display: inline-block;
    background-color: white;
    margin: 0;
}

.leaguetable {
    height: 180px;
    width: 533px;
    clear: both;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.leaguetable_button {
    height: 40px;
    width: 80px;
    background-color: #005aaa;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px !important;
    margin-right: 20px;
}

.leaguetable_button:hover {
    background-color: #035fbb;
}

.leaguetable_button h6 {
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 14px;
}

.grid {
    max-width: 100%;
}

.grid-item {
    border: 1px solid #333;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.trophies {
    background-color: white;
    height: 198px;
}

/*--------------footer---------------- */

footer {
    padding: 25px 0;
    height: 500px;
    background-color: #0055aa;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    line-height: 90px;
}

footer .row {
    padding-bottom: 15px;
    padding-top: 15px;
}

.clock {
    height: 150px;
    margin-bottom: 20px;
}

#desktopFooter {
    height: 280px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tradition {
    float: left;
    font-size: 15px;
    line-height: 1;
    color: white;
    margin: 10px 0 0;
    text-transform: uppercase;
    text-align: center;
}

.col-xs-12 {
    width: 100%;
}

.line {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hsvbox-header {
    font-size: 20px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1;
}

.hsvbox-text {
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 0 0 5px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 21px;
}

.col-xs-2 {
    width: 16.66666667%;
}

.counter {
    text-align: center;
    height: 30px;
    color: white;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    margin: 10px 0 10px 0;
}

.footer-links {
    color: white;
}

.footer-links:hover {
    color: white;
}

/*--------------footer---------------- */

/*-----------------media------------------- */

@media(min-width: 1437px) {
    .divsizer {
        max-width: 1407px;
    }
}

@media (min-width:1600px) {
    .container {
        width: 933px;
    }
}

@media (min-width:963px) {
    .container {
        width: 933px;
    }
}

* {
    margin: 0px;
}

@media(min-width: 1600px) {
    .grid {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 963px) {
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
}

@media (min-width: 963px) {
    .col-md-2 {
        width: 16.66666667%;
    }
}

@media (min-width: 963px) {
    .col-md-offset-3 {
        margin-left: 25%;
    }
}

@media (min-width: 963px) {
    .col-md-3 {
        width: 25%;
    }
}

@media (max-width:991px) {
    .row ul {
        padding: 0 !important;
    }
}

@media (max-width:991px) {
    .nextmatch {
        width: 100%;
    }
}

@media (max-width:991px) {
    .teamstats {
        width: 100%;
    }
}

@media (max-width:991px) {
    .leaguetable {
        width: 100%;
    }
}

@media (min-width:992px) {
    .leaguetable {
        position: absolute;
    }
}

@media (max-width:991px) {
    .main-content {
        height: 100%;
    }
}

@media (max-width:962px) {
    .row {
        justify-content: center;
    }
}

@media (min-width:767px) {
    .col-md-2 {
        text-align: center;
    }
}

@media (max-width:767px) {
    .footer {
        height: 100%;
    }
}

/*-----------------subject------------------- */

.subject {
    height: 100%;
    background-color: white;
}

.subject-img {
    height: 450px;
    padding-top: 20px;
    margin: 0 15px 15px 20px;
}

.subject-img img {
    height: 100%;
    width: 100%;
}

.subject-text header {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}

.subject-text p {
    margin: 0 15px 0 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
    text-align: center;
}

textarea {
    width: 75%;
    height: 150px;
    resize: none;
    background: #fff;
}

button {
    width: 100px;
    height: 30px;
    background: #282828;
    border: none;
    color: #fff;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-bottom: 60px;
}

.commentsection {
    height: 100%;
    padding-top: 150px;
}

.comment-box {
    background-color: white;
    padding: 20px;
    margin-bottom: 4px;
    border-radius: 4px;
    position: relative;
}

.comment-box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;
}

.edit-form {
    position: absolute;
    top: 0px;
    right: 0px;
}

.edit-form button {
    width: 40px;
    height: 20px;
    color: #282828;
    background-color: #fff;
    opacity: 0.7;
}

.edit-form button:hover {
    opacity: 1;
}

.delete-form {
    position: absolute;
    top: 0px;
    right: 60px;
}

.delete-form button {
    width: 40px;
    height: 20px;
    color: #282828;
    background-color: #fff;
    opacity: 0.7;
}

.delete-form button:hover {
    opacity: 1;
}